In [2]:

f1 = open("s.txt", "r")

FileNotFoundError: [Errno 2] No such file or directory: 's.txt'

In [ ]:
# read the file and store the text in a variable
f = f1.read()
f

In [32]:
# read the file again
f = f1.read()

f

''

In [33]:
'''
As you can see we got an empty string.
This is because the file is already opened 
and the file pointer is at the end of the file 
so one way is to close the file first to read it again.
'''

f1.close()

In [34]:
complete_text = open("dataset/file_1.txt", "r")

In [35]:
complete_text.read()

'This is line number 1.\nThis is line number 2.\nThis is line number 3.\nThis is line number 4.\nThis is line number 5.\nThis is line number 6.\nThis is line number 7.\nThis is line number 8.\nThis is line number 9.\nThis is line number 10.\nThis is line number 11.\nThis is line number 12.\nThis is line number 13.\nThis is line number 14.\nThis is line number 15.\nThis is line number 16.\nThis is line number 17.\nThis is line number 18.\nThis is line number 19.\nThis is line number 20.\nThis is line number 21.\nThis is line number 22.\nThis is line number 23.\nThis is line number 24.\nThis is line number 25.\nThis is line number 26.\nThis is line number 27.\nThis is line number 28.\nThis is line number 29.\nThis is line number 30.\n'

In [36]:
complete_text.seek(0)

0

In [37]:
complete_text.read()

'This is line number 1.\nThis is line number 2.\nThis is line number 3.\nThis is line number 4.\nThis is line number 5.\nThis is line number 6.\nThis is line number 7.\nThis is line number 8.\nThis is line number 9.\nThis is line number 10.\nThis is line number 11.\nThis is line number 12.\nThis is line number 13.\nThis is line number 14.\nThis is line number 15.\nThis is line number 16.\nThis is line number 17.\nThis is line number 18.\nThis is line number 19.\nThis is line number 20.\nThis is line number 21.\nThis is line number 22.\nThis is line number 23.\nThis is line number 24.\nThis is line number 25.\nThis is line number 26.\nThis is line number 27.\nThis is line number 28.\nThis is line number 29.\nThis is line number 30.\n'

In [38]:
# read from 300th character in the file
complete_text.seek(300)

300

In [39]:
# read the file
complete_text.read()

'3.\nThis is line number 14.\nThis is line number 15.\nThis is line number 16.\nThis is line number 17.\nThis is line number 18.\nThis is line number 19.\nThis is line number 20.\nThis is line number 21.\nThis is line number 22.\nThis is line number 23.\nThis is line number 24.\nThis is line number 25.\nThis is line number 26.\nThis is line number 27.\nThis is line number 28.\nThis is line number 29.\nThis is line number 30.\n'

In [40]:
# close the file
complete_text.close()

In [41]:
# read the file again store each line in a list
text_file = open("dataset/file_1.txt", "r")

lines = text_file.readlines()

# no of lines
print('No of lines in file is ',format(len(lines)))

No of lines in file is  30

In [42]:
# print each line text
for line in lines :
    print(line)

# close the file
text_file.close()

This is line number 1.

This is line number 2.

This is line number 3.

This is line number 4.

This is line number 5.

This is line number 6.

This is line number 7.

This is line number 8.

This is line number 9.

This is line number 10.

This is line number 11.

This is line number 12.

This is line number 13.

This is line number 14.

This is line number 15.

This is line number 16.

This is line number 17.

This is line number 18.

This is line number 19.

This is line number 20.

This is line number 21.

This is line number 22.

This is line number 23.

This is line number 24.

This is line number 25.

This is line number 26.

This is line number 27.

This is line number 28.

This is line number 29.

This is line number 30.

In [43]:
with open('dataset/file_1.txt','r') as f:
    complete_text =  f.read()

In [44]:
complete_text

'This is line number 1.\nThis is line number 2.\nThis is line number 3.\nThis is line number 4.\nThis is line number 5.\nThis is line number 6.\nThis is line number 7.\nThis is line number 8.\nThis is line number 9.\nThis is line number 10.\nThis is line number 11.\nThis is line number 12.\nThis is line number 13.\nThis is line number 14.\nThis is line number 15.\nThis is line number 16.\nThis is line number 17.\nThis is line number 18.\nThis is line number 19.\nThis is line number 20.\nThis is line number 21.\nThis is line number 22.\nThis is line number 23.\nThis is line number 24.\nThis is line number 25.\nThis is line number 26.\nThis is line number 27.\nThis is line number 28.\nThis is line number 29.\nThis is line number 30.\n'

In [23]:
# let's open a file in write only mode
my_file = open('dataset/new_file.txt','w')

# write function will return the length of text written in the file.
my_file.write('Data Science is Awesome!')

24

In [24]:
# open the file write and read mode
my_file = open('dataset/new_file.txt','w+')
#  read the file 
my_file.read()

'Data Science is Awesome!'

In [25]:
# close the file
my_file.close()

In [26]:
# Now, add some lines to the file again

my_file = open('dataset/new_file.txt','w+')

In [27]:
# create a list of strings
lines = ['Line 1','Line 2','Line 3','Line 4']
my_file.writelines(lines)

In [28]:
# take the pointer to the initial position
my_file.seek(0)
# read the data
print(my_file.read())
my_file.close()

Line 1Line 2Line 3Line 4

In [29]:
# open the file in the append and read mode.
my_file = open('dataset/new_file.txt','a+')

my_file.write('Welcome to the python course')
#  take the pointer to the initial position of the file
my_file.seek(0)

# read the file
my_file.read()

'Line 1Line 2Line 3Line 4Welcome to the python course'